.section_main {
    margin-top: 100px;
}

.task-details {
    display: inline-block;
    width: 25%;
    text-align: center;
}

button {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    background: #fff;
    color: #ccc;
    font-size: 14px;
    border: 2px solid #CCC;
    font-weight: 500;
    text-transform: uppercase;
}


span.close {
    font-size: 12px;
    line-height: 32px;
    cursor: pointer;
    padding-right: 10px;
}